.card-header{
    background-image: linear-gradient(to bottom right, white, #e9e9e9);
    color: #343a40;
    border: 1px solid silver;
    border-bottom: 2px solid silver;
    font-family: "Lato Bold"!important;  
    cursor: "pointer";  
}

.card-header-title {
    background-image: linear-gradient(to bottom right, #343a40, #202325);
    color: white;
    font-family: "Lato Bold"!important;  
    cursor: "pointer";    
}

.card-body{
    background: white;
    color: #20262a;
    font-family: "Lato Light";
}