.card-header-title-team {
    background-image: linear-gradient(to bottom right, #343a40, #202325);
    color: #fff;
    font-family: 'Lato Bold' !important;
    cursor: pointer;
}

.card-body-team {
    background: #fff;
    color: #20262a;
    font-family: "Lato Light";
}

.modal-info-fields p {
    margin: 0;
}

.modal-info-fields {
    margin-top: 20px;
}

.subcategory-cursor {
    cursor: pointer!important;
}