.side-nav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 55.5;
    left: 0;
    background-color: #343a40;
    overflow-x: hidden;
    transition: 0.5s;
}

.main-container {
    transition: margin-left .5s;
    margin-left: 25%;
    margin-right: 1%;
    padding-top: 1%;
}