

.card-header-shortcuts {
    background: #1f61c0!important;
    color: white!important;
    font-weight: bold;
    text-align: center;
    border: 1px solid #1f61c0!important;
}

.card-footer-shortcuts {
    background: #1f61c0!important;
    color: white!important;
    font-weight: bold;
    text-align: left;
    border: 1px solid #1f61c0!important;
}

.card-footer-shortcuts a {
    color: white!important;    
}

.card-shortcuts{
    border: 1px solid #1f61c0;
    display: inline-block;
    padding: 0;
}